html, body{ 
    height: 100%;
    width: 100%;
    background: yellowgreen;
}

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
      }
      
      img.happy {
        width: 40%;
        border-radius: 50%;
      }
      
h1{
  text-align: center;
  font-style: italic;
  
}
.container{
  text-align: center;
  margin-top: 90px;
}
